<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"> <!-- Кодировка нашей страницы -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Для своместимости с IE -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Для красивого и правильного отображения на мобильных устройств -->
    <meta name="description" content="Это мой первый пример страницы"> <!-- Описание страницы -->
    <meta name="author" content="Рамиль"> <!-- Автор страницы -->
    <title>Мониторинг SM</title> <!-- Наименование страницы -->
</head>
<body>
<h1>Расчет KPi</h1>
<form method="get" th:action="@{/upload}">
    <button type="submit"  value="value" class="link-button">Загрузить документ</button>
</form>
<br/>
<form method="get" th:action="@{/view_all_incidents}">
    <button type="submit"  value="value" class="link-button">Отображение всех инцидентов</button>
</form>
<br/>
Значение KPi = <body th:utext="${kpi}" th:default="0.0"></body>
</body>
</html>